<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>SmartStop Registration</title>

    {{> head}}
  </head>
  <script>
    var pickedDistrict;
    var studentsArray = [];

    $(document).ready(function() {

      if (/Mobi|Android/i.test(navigator.userAgent)) {
        // mobile!
        $("#wizardLine").css('max-width', '78%');
        $(".stepText").css('width', '100px');
      }
      
      pickedDistrict = false;
      var routesJson = decodeURIComponent("{{{routesEncode}}}");
      var routesJsonObj = JSON.parse(routesJson);
      console.log("routes HBS == " + JSON.stringify(routesJsonObj));

      var districtsJson = decodeURIComponent("{{{schoolDistrictsEncode}}}");
      var districtsJsonObj = JSON.parse(districtsJson);

      var studentsJson = decodeURIComponent("{{{studentsEncode}}}");
      var studentsJsonObj = JSON.parse(studentsJson);

      var schoolDistrictIDSelected = decodeURIComponent("{{{schoolDistrictIDSelected}}}");
      var schoolDistrictSelected = decodeURIComponent("{{{schoolDistrictSelected}}}");
      console.log('schoolDistrictIDSelected == '+schoolDistrictIDSelected);
      console.log('studentsJsonObj == '+JSON.stringify(studentsJsonObj));

      if (studentsJsonObj.length > 0) 
      {
        studentsArray = studentsJsonObj;
        $("#addedTitle").fadeIn(300);
        $("#submitBtn").fadeIn();
        $('#nextBtn').fadeIn();
        //$("#selectDistrict").children('[value='+schoolDistrictIDSelected+']').attr('selected', true);
        //$("#selectDistrict").trigger('change');

        var index = $("#selectDistrict").children('option:selected').index();

        if (index > 0) {

        } 
          
      }


      $("#selectDistrict").change(function() {

        pickedDistrict = true;
        setTimeout(function(){$('#selectDistrict_chosen').removeClass('chosen-container-active');},80);
        var index = $(this).children('option:selected').index();
        if (index > 0) {
          console.log(districtsJsonObj[index-1].routes);
          $('#schoolDistrictLbl').fadeIn();
          var option = '';
          var routes = districtsJsonObj[index-1].routes;

        } else {
          $('#schoolDistrictLbl').fadeOut();
          $('#routesFormGroup').fadeOut();
        }
      });

      $("#selectDistrict").chosen({
        disable_search_threshold: 10,
        no_results_text: "District does not have routes",
        placeholder_text_single: "School District",
        width: "100%"
      });

      $("#addChildAlert").on("click", ".closeX", function(){
        console.log('remove Child');
        var index = $(this).parent().parent().index();
        console.log('index ='+index);

        var studentObj = studentsArray[index];
        var studentObjJson = JSON.parse(JSON.stringify(studentObj));
        console.log('studentObj ='+JSON.stringify(studentObj));
        var parentID = $('#parentID').val();

        var serializedData = "fname=" + studentObjJson.firstName +"&lname=" + studentObjJson.lastName+"&parentID="+parentID;
        console.log('serializedData child delete == '+ serializedData);

        $.ajax({   
            type: "POST",
            data : serializedData,
            dataType : 'json',    
            cache: false,  
            url: "/child/delete",   
            success: function(data){
                var resData = JSON.stringify(data);
                console.log("success RES child delete == " + JSON.stringify(resData));
            },
            complete: function(data){
                var resData = JSON.stringify(data);
                console.log("complete RES child delete == " + JSON.stringify(resData));
            }   
        });   

        studentsArray.splice(index, 1);
        console.log('studentsArray removed item == '+ JSON.stringify(studentsArray));

        $(this).parent().parent().remove();

        var numSelected = $("#addChildAlert").children().length;
        if (numSelected > 0) {
          $('#nextBtn').fadeIn();
          $("#addedTitle").fadeIn();
        } else {
          $('#nextBtn').fadeOut(50);
          $("#addedTitle").fadeOut(50);
        }

      });   

      $("#nextBtn").click(function(e) {
        e.preventDefault();
        location.href = '/busroutes/'+$('#parentID').val();
      });   

      $("#saveChildBtn").click(function(e) {

        e.preventDefault();

        if ($('#fnameField').val().length > 0 && $('#lnameField').val().length > 0 && pickedDistrict) 
        {
          var districtID = $('#selectDistrict :selected').val();
          var districtName = $('#selectDistrict option:selected').text();

          var serialized = $('#addChildForm').serialize();
          var serializedArray = $('#addChildForm').serializeArray();
          serializedArray.push({name: districtName, id: districtID});

          var serializedMoreData = serialized + "&districtID=" + districtID +"&districtName="+districtName;

          var alertInfo = '<div class="alert alert-info" style="padding: 11px; border:1px solid #ccc9;margin-bottom: 10px; width: 302px;"><span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" class="closeX">&times;</span></span>'+$('#fnameField').val()+' '+$('#lnameField').val()+' - '+districtName+'</div>';

          $(alertInfo).hide().appendTo("#addChildAlert").fadeIn(300);
          $("#addedTitle").fadeIn(300);

          var studentObj = {firstName: $('#fnameField').val(), lastName: $('#lnameField').val(), districtName:districtName, districtID: districtID};
          studentsArray.push(studentObj);

          var count = $("#addChildAlert div").length;

          if (count > 0) {
            $('#nextBtn').fadeIn();
          } else {
            $('#nextBtn').fadeOut();
          }

          console.log("FORM DATA == " + JSON.stringify(serializedMoreData));
          console.log("FORM DATA ARRAY == " + JSON.stringify(serializedArray));

          $.ajax({   
              type: "POST",
              data : serializedMoreData,
              dataType : 'json',
              cache: false,  
              url: "/child/add",   
              success: function(data){
                  var resData = JSON.stringify(data);
                  console.log("success RES addChild == " + JSON.stringify(resData));
                  $('#fnameField').val('');
                  $('#lnameField').val('');
                  $('#selectDistrict').val('').trigger('chosen:updated');
                  $('#schoolDistrictLbl').hide();
                  pickedDistrict = false;
              },
              complete: function(data){
                  var resData = JSON.stringify(data);
                  console.log("complete RES addChild == " + JSON.stringify(resData));
                  $('#fnameField').val('');
                  $('#lnameField').val('');
                  $('#selectDistrict').val('').trigger('chosen:updated');
                  $('#schoolDistrictLbl').hide();
                  pickedDistrict = false;
              }
          });   
        }
        else
        {
          alert("Please add your child's first name, last name and school district.");
        }

        return false;   
      });

    });

  </script>

  <body>

    <div class="container">
      <div class="background col-sm-6 col-sm-offset-3">
        <div class="logo"></div>
      </div>
    </div>

    <div class="container" style="margin-top: 0px;">

      <div class="row justify-content-center">
        <div class="formDiv col-lg-6 col-sm-offset-3" id="formDiv" style="min-height: 403px;">

          <!-- Circles which indicates the steps of the form: -->
          <div style="text-align:center;margin-top:10px;">
            <div class="wizardLine" id="wizardLine"></div>

            <ul class="progressWizard">
              <li> <span class="step finish"></span> <span class="stepText register">Register</span></li>
              <li><span class="step finish"></span> <span class="stepText verify">Verify</span></li>
              <li><span class="step active"></span> <span class="stepText students">Students</span></li>
              <li><span class="step"></span> <span class="stepText bus">Buses</span></li>
            </ul>
          </div>

          <h1>Add Students</h1>

          <form action="/child/add" method="post" id="addChildForm" style="max-width: 429px;">

            <!--First & Last name -->
            <ul class="list-inline" style="max-width: 429px;">
              <li style="padding-left: 0px; padding-right: 5px;">
                <div class="form-group col-sm">
                  <label for="fnameField" class="inp">
                    <input type="text" id="fnameField" placeholder="&nbsp;" name="fname">
                    <span class="label">Child First Name</span>
                    <span class="border"></span>
                  </label>
                </div>
              </li>
              <li>
              <div class="form-group col-sm">
                <label for="lnameField" class="inp">
                  <input type="text" id="lnameField" placeholder="&nbsp;" name="lname">
                    <span class="label">Child Last Name</span>
                  <span class="border"></span>
                </label>
              </div>
              </li>
            </ul>

<!--             <button type="submit" class="btn btn-custom" id="saveChildBtn" style="float: right;margin-top: 2px;height: 40px;">Save Child</button> -->
            <a href="javascript:void(0)" id="saveChildBtn" style="float: right;margin-top: 2px;height: 40px;color: #d22329;font-size: 16px;font-weight: 500;line-height: 39px;outline: 0;">+ Add Child</a>
            
            <div class="form-group" style="width: 67%;">
              <label for="selectDistrict" class="inpLbl inp">
                <select id="selectDistrict" name="selectDistrict" style="display: block;">
                  <option value=""></option>
                  {{#each schoolDistricts}}
                    <option value="{{this.id}}">{{this.name}}</option>
                  {{/each}}
                </select>

                <span class="label" id="schoolDistrictLbl" style="color:#223254">School District</span>
                <span class="border"></span>
              </label>
            </div>

            <input type="hidden" id="phoneNum" name="phone" value="{{ phone }}">
            <input type="hidden" id="parentID" name="parentID" value="{{ parentID }}">

          </form>

          <h3 id="addedTitle" style="display: none;">Students Added</h3>
          <div class="addChildAlert" id="addChildAlert">
            {{#each students}}
              <div class="alert alert-info" style="padding: 11px; border:1px solid #ccc9;margin-bottom: 10px; width: 302px;"><span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" class="closeX">&times;</span></span>{{this.firstName}} {{this.lastName}} - {{this.schoolDistrict}}</div>
            {{/each}}
          </div>

          <button type="submit" class="btn btn-custom" id="nextBtn" style="height: 36px; width: 115px;float: right;display: none;">Next</button>

<!--           <hr style="position: absolute;bottom: 45px;width: 100%;max-width: 434px;">

          <p style="position: absolute;bottom: 25px;width: 100%;">Already have an account? <a href="/login">Login</a></p>
          <p style="position: absolute;bottom: 0px;width: 100%;">Or return to <a href="/">Home</a>.</p> -->
        </div>
      </div>
    </div>

  </body>
</html>
